<h3><%= @band.name %></h3>
<br>
<% @band.venues.each() do |venue| %>
<h4><%= venue.location %></h4>
<% end %>
<br>

<p>Edit band or assign locations</p>

<form action='/assign_venues' method='post'>
  <input type='hidden' name='_method' value='patch'
  <% @venues.each() do |venue| %>
    <div class='checkbox'>
      <label>
        <input type='checkbox' name='venues_ids[]' value='<%= venue.id() %>'> <%= venue.location %>
      </label>
    </div>
    <% end %>
    <input type="hidden" name="id" value="<%= @band.id %>">
    <button type='submit'>Assign venues to band.</button>
</form>

<br>
<br>

<form action='/edit_band' method='post'>
  <input type= 'hidden' name='id' value='<%= @band.id %>'>
  <input type= 'hidden' name='_method' value='patch'>
  <label for='band_name'>Change the band's name.</label>
  <input id='band_name' name='band_name' type='text'>


  <button type='submit'>Change the band's name.</button>
</form>

<br>

<form action='/delete_band' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type="hidden" name="id" value="<%= @band.id %>">

  <button type='submit'>Delete the band</button>
</form>

  <br>

<a href='/'>Return to Main Page</a>
